<div style="margin-bottom: 15px;">
  <strong>Select File Format:</strong>&nbsp;
  CSV <input type="radio" (click)="setDownloadType('csv')" name="download-{{getSectionId()}}" value="csv" style="margin-bottom: 0"
             onclick="gtag('event', 'click', {'event_category': 'download', 'event_label': 'csv', 'value': 'selected'})">
  <span *ngIf="category != 'publication'">
    JSON <input type="radio" (click)="setDownloadType('json')" name="download-{{getSectionId()}}" value="json" style="margin-bottom: 0"
                onclick="gtag('event', 'click', {'event_category': 'download', 'event_label': 'json', 'value': 'selected'})">
  </span>
  <span *ngIf="category == 'publication'">
    BibTeX <input type="radio" (click)="setDownloadType('bibtex')" name="download-{{getSectionId()}}" value="bibtex" style="margin-bottom: 0"
                onclick="gtag('event', 'click', {'event_category': 'download', 'event_label': 'bibtex', 'value': 'selected'})">
  </span>
  <button class="button label-tooltip" (click)="createOrSave(downloadType)" [disabled]="!downloadType" style="margin: 0 0 0 10px"
          onclick="gtag('event', 'click', {'event_category': 'download', 'event_label': 'download', 'value': 'clicked'})">
    Download&nbsp;
    <i class="icon icon-functional" data-icon="="></i>
  </button>
  <br>
  <small>
    <i class="icon icon-generic" data-icon="i"></i>&nbsp;Select a file format and press "Download" to get the data displayed below.
  </small>
</div>

